---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 The Linux Foundation

ci:
  autofix_commit_msg: |
    Chore: pre-commit linting updates

    Signed-off-by: pre-commit-ci[bot] <pre-commit-ci@users.noreply.github.com>
  autoupdate_commit_msg: |
    Chore: pre-commit linting updates

    Signed-off-by: pre-commit-ci[bot] <pre-commit-ci@users.noreply.github.com>

exclude: "^docs/conf.py"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=master
          - --branch=main
          - --branch=rc
          - --branch=production

  - repo: https://github.com/jorisroovers/gitlint
    rev: acc9d9de6369b76d22cb4167029d2035e8730b98 # frozen: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/adrienverge/yamllint.git
    rev: cba56bcde1fdd01c1deb3f945e69764c291a6530  # frozen: v1.38.0
    hooks:
      - id: yamllint
        types: [yaml]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 45ef068da5f21267bb2a7ec4a623092959f09ce5  # frozen: v0.14.14
    hooks:
      - id: ruff
        files: ^(scripts|tests|custom_components)/.+\.py$
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        files: ^(scripts|tests|custom_components)/.+\.py$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: a66e98df7b4aeeb3724184b332785976d062b92e  # frozen: v1.19.1
    hooks:
      - id: mypy

  - repo: https://github.com/btford/write-good
    rev: ab66ce10136dfad5146e69e70f82a3efac8842c1 # frozen: v1.0.8
    hooks:
      - id: write-good
        files: "\\.(rst|md|markdown|mdown|mkdn)$"

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 76b3d32d3f4b965e1d6425253c59407420ae2c43  # frozen: v0.47.0
    hooks:
      - id: markdownlint
        args: ["--fix"]

  - repo: https://github.com/fsfe/reuse-tool
    rev: 9fabf9eb815a57aac116b435e8346c200cdb8604  # frozen: v6.2.0
    hooks:
      - id: reuse

  # Replaces: https://github.com/rhysd/actionlint
  # Permits actionlint to run both locally and with precommit.ci/GitHub
  - repo: https://github.com/Mateusz-Grzelinski/actionlint-py
    rev: 85c37735ea69e5baf0681530e57e63deee0ce733  # frozen: v1.7.10.24
    hooks:
      - id: actionlint
