---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2023 The Linux Foundation

name: Composed Prescan Sonar Cloud

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      GERRIT_BRANCH:
        description: "Branch that change is against"
        required: true
        type: string
      GERRIT_CHANGE_ID:
        description: "The ID for the change"
        required: true
        type: string
      GERRIT_CHANGE_NUMBER:
        description: "The Gerrit number"
        required: true
        type: string
      GERRIT_CHANGE_URL:
        description: "URL to the change"
        required: true
        type: string
      GERRIT_EVENT_TYPE:
        description: "Type of Gerrit event"
        required: true
        type: string
      GERRIT_PATCHSET_NUMBER:
        description: "The patch number for the change"
        required: true
        type: string
      GERRIT_PATCHSET_REVISION:
        description: "The revision sha"
        required: true
        type: string
      GERRIT_PROJECT:
        description: "Project in Gerrit"
        required: true
        type: string
      GERRIT_REFSPEC:
        description: "Gerrit refspec of change"
        required: true
        type: string
      JDK_VERSION:
        description: "OpenJDK version"
        required: false
        type: string
      PRE_BUILD_SCRIPT:
        description: "Pre-build script to trigger before verify run"
        required: false
        default: ""
        type: string
      PRE_BUILD_SCRIPT_PATH:
        description: "Path to pre-build script to trigger before verify run"
        required: false
        default: ""
        type: string
      PRE_BUILD_SCRIPT_URL:
        description: "URL of pre-build script to trigger before verify run"
        required: false
        default: ""
        type: string
      SONAR_ARGS:
        description: "Additional arguments to the SonarCloud scanner"
        required: false
        type: string
        default: ""
      SONAR_PROJECTBASEDIR:
        description: "Set the sonar.projectBaseDir analysis property"
        required: false
        type: string
        default: .
    secrets:
      SONAR_TOKEN:
        description: "Sonar Cloud access token"
        required: true

concurrency:
  # yamllint disable-line rule:line-length
  group: composed-prescan-sonar-cloud-${{ github.workflow }}-${{ github.event.inputs.GERRIT_BRANCH}}-${{ github.event.inputs.GERRIT_CHANGE_ID || github.run_id }}
  cancel-in-progress: true

jobs:
  run-prescan-sonar-scan:
    runs-on: ubuntu-latest
    env:
      PRE_BUILD: "/dev/null"

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.GERRIT_BRANCH }}
          submodules: "true"
      # yamllint disable-line rule:line-length
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        id: setup-python
        with:
          python-version: "3.8"
      - name: Setup JDK
        id: setup-jdk
        # yamllint disable-line rule:line-length
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: ${{ inputs.JDK_VERSION }}
          distribution: "temurin"
      - name: Pre-build path
        if: ${{ inputs.PRE_BUILD_SCRIPT_PATH != '' }}
        # yamllint disable-line rule:line-length
        run: |
          echo "PRE_BUILD=${{ inputs.PRE_BUILD_SCRIPT_PATH }}" >> "$GITHUB_ENV"
      - name: Pre-build script
        if: ${{ inputs.PRE_BUILD_SCRIPT != '' }}
        run: |
          echo "${{ inputs.PRE_BUILD_SCRIPT }}" > "${{ github.run_id }}.sh"
          chmod +x "${{ github.run_id }}.sh"
          echo "PRE_BUILD=${{ github.run_id }}.sh" >> "$GITHUB_ENV"
      - name: Pre-build URL
        if: ${{ inputs.PRE_BUILD_SCRIPT_URL != '' }}
        run: |
          curl "${{ inputs.PRE_BUILD_SCRIPT_URL }}" > "${{ github.run_id }}.sh"
          chmod +x "${{ github.run_id }}.sh"
          echo "PRE_BUILD=${{ github.run_id }}.sh" >> "$GITHUB_ENV"
      - name: Run pre-build-script
        shell: bash
        run: sh "$PRE_BUILD"
      - name: Run Sonar Cloud scan
        # yamllint disable-line rule:line-length
        uses: lfreleng-actions/sonarqube-cloud-scan-action@bad9028f5252eb1432340d891f9b3a589f0280c1 # v0.1.2
        with:
          sonar_token: ${{ secrets.SONAR_TOKEN }}
