---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2023 The Linux Foundation

name: Composed Tox Sonar Cloud

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      GERRIT_BRANCH:
        description: "Branch that change is against"
        required: true
        type: string
      GERRIT_CHANGE_ID:
        description: "The ID for the change"
        required: true
        type: string
      GERRIT_CHANGE_NUMBER:
        description: "The Gerrit number"
        required: true
        type: string
      GERRIT_CHANGE_URL:
        description: "URL to the change"
        required: true
        type: string
      GERRIT_EVENT_TYPE:
        description: "Type of Gerrit event"
        required: true
        type: string
      GERRIT_PATCHSET_NUMBER:
        description: "The patch number for the change"
        required: true
        type: string
      GERRIT_PATCHSET_REVISION:
        description: "The revision sha"
        required: true
        type: string
      GERRIT_PROJECT:
        description: "Project in Gerrit"
        required: true
        type: string
      GERRIT_REFSPEC:
        description: "Gerrit refspec of change"
        required: true
        type: string
      SONAR_ARGS:
        description: "Additional arguments to the SonarCloud scanner"
        required: false
        type: string
        default: ""
      SONAR_PROJECTBASEDIR:
        description: "Set the sonar.projectBaseDir analysis property"
        required: false
        type: string
        default: .
      TOX_DIR:
        description: "Directory containing tox.ini file"
        required: false
        default: "."
        type: string
      TOX_ENVS:
        description: >
          List of envs to run. These MUST be passed as a string representing
          a list of strings, e.g.:

          '["lint", "build"]'
        required: true
        type: string
      PYTHON_VERSION:
        description: "Version of python to use"
        required: false
        default: "3.12"
        type: string
      PARALLEL:
        description: "Whether to run jobs in parallel"
        required: false
        type: string
      PRE_BUILD_SCRIPT:
        description: "Pre-build script to trigger before verify run"
        required: false
        default: ""
        type: string
      PRE_BUILD_SCRIPT_PATH:
        description: "Path to pre-build script to trigger before verify run"
        required: false
        default: ""
        type: string
      PRE_BUILD_SCRIPT_URL:
        description: "URL of pre-build script to trigger before verify run"
        required: false
        default: ""
        type: string
    secrets:
      SONAR_TOKEN:
        description: "Sonar Cloud access token"
        required: true

concurrency:
  # yamllint disable-line rule:line-length
  group: composed-tox-sonar-cloud-${{ github.workflow }}-${{ github.event.inputs.GERRIT_BRANCH}}-${{ github.event.inputs.GERRIT_CHANGE_ID || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  run-tox:
    name: "Run TOX"
    # yamllint disable-line rule:line-length
    uses: lfit/releng-reusable-workflows/.github/workflows/gerrit-compose-required-tox-verify.yaml@9b845102d5158f0b80bd53405a0b6855b26dc4a0 # v0.2.9
    permissions:
      contents: read
    with:
      GERRIT_BRANCH: ${{ inputs.GERRIT_BRANCH }}
      GERRIT_CHANGE_ID: ${{ inputs.GERRIT_CHANGE_ID }}
      GERRIT_CHANGE_NUMBER: ${{ inputs.GERRIT_CHANGE_NUMBER }}
      GERRIT_CHANGE_URL: ${{ inputs.GERRIT_CHANGE_URL }}
      GERRIT_EVENT_TYPE: ${{ inputs.GERRIT_EVENT_TYPE }}
      GERRIT_PATCHSET_NUMBER: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
      GERRIT_PATCHSET_REVISION: ${{ inputs.GERRIT_PATCHSET_REVISION }}
      GERRIT_PROJECT: ${{ inputs.GERRIT_PROJECT }}
      GERRIT_REFSPEC: ${{ inputs.GERRIT_REFSPEC }}
      TOX_DIR: ${{ inputs.TOX_DIR }}
      TOX_ENVS: ${{ inputs.TOX_ENVS }}
      PYTHON_VERSION: ${{ inputs.PYTHON_VERSION }}
      PARALLEL: ${{ inputs.PARALLEL }}
      PRE_BUILD_SCRIPT: ${{ inputs.PRE_BUILD_SCRIPT }}
      PRE_BUILD_SCRIPT_PATH: ${{ inputs.PRE_BUILD_SCRIPT_PATH }}
      PRE_BUILD_SCRIPT_URL: ${{ inputs.PRE_BUILD_SCRIPT_URL }}

  sonarqube-cloud:
    name: "SonarQube Cloud Scan"
    runs-on: ubuntu-24.04
    permissions:
      # Needed to upload the results to code-scanning dashboard
      security-events: write
      # Needed to publish results and get a badge (see publish_results below)
      id-token: write
      # Uncomment these below if installing in a private repository
      # contents: read
      # actions: read
    steps:
      - name: "SonarQube Cloud Scan"
        # yamllint disable-line rule:line-length
        uses: lfit/releng-reusable-workflows/.github/actions/sonarqube-cloud-scan-action@9b845102d5158f0b80bd53405a0b6855b26dc4a0 # v0.2.9
        with:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
