---
name: Compose rtdv3 Verify

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      GERRIT_BRANCH:
        description: "Branch that change is against"
        required: true
        type: string
      GERRIT_CHANGE_ID:
        description: "The ID for the change"
        required: true
        type: string
      GERRIT_CHANGE_NUMBER:
        description: "The Gerrit number"
        required: true
        type: string
      GERRIT_CHANGE_URL:
        description: "URL to the change"
        required: true
        type: string
      GERRIT_EVENT_TYPE:
        description: "Type of Gerrit event"
        required: true
        type: string
      GERRIT_PATCHSET_NUMBER:
        description: "The patch number for the change"
        required: true
        type: string
      GERRIT_PATCHSET_REVISION:
        description: "The revision sha"
        required: true
        type: string
      GERRIT_PROJECT:
        description: "Project in Gerrit"
        required: true
        type: string
      GERRIT_REFSPEC:
        description: "Gerrit refspec of change"
        required: true
        type: string
      TARGET_REPO:
        # yamllint disable-line rule:line-length
        description: "The target GitHub repository needing the required workflow"
        required: false
        default: ${{ github.repository }}
        type: string
    secrets:
      RTD_TOKEN:
        description: "RTD API user token"
        required: true

concurrency:
  # yamllint disable-line rule:line-length
  group: compose-rtdv3-verify-${{ github.workflow }}-${{ github.event.inputs.GERRIT_CHANGE_ID || github.run_id }}
  cancel-in-progress: true

env:
  READTHEDOCS_FOUND: true
  TOX_ENVS: docs,docs-linkcheck
  TOX_DIR: docs/
  DOC_DIR: _build/html
  PARALLEL: true
  DEFAULT_VERSION: latest
  MASTER_RTD_PROJECT: doc

jobs:
  rtd-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Gerrit Checkout
        # yamllint disable-line rule:line-length
        uses: lfit/checkout-gerrit-change-action@c70c41f86f57a62ae26ac17b4f16516212c46222  # v0.5
        with:
          gerrit-refspec: ${{ inputs.GERRIT_REFSPEC }}
          delay: "0s"
          submodules: "true"
      - uses: actions/setup-python@v4
        id: setup-python
        with:
          python-version: "3.8"
      - name: Verify If readthedocs Config exists
        run: |
          echo "Verifying if readthedocs.yaml config file exists"
          if [ ! -f .readthedocs.yaml ] ; then
            echo "INFO Config file not found. Skipping further checks."
            echo "READTHEDOCS_FOUND=false" >> "$GITHUB_ENV"
          fi
      - name: Installing dependencies
        if: ${{ env.READTHEDOCS_FOUND == 'true' }}
        run: |
          python -m pip install --upgrade pip
          pip install lftools 'niet~=1.4.2' 'cryptography<3.4' yq tox
          # urllib3 needs to be pinned to avoid timeouts
          pip install --upgrade urllib3~=1.26.15
      - name: Running tox
        # yamllint disable rule:line-length
        if: ${{ env.READTHEDOCS_FOUND == 'true' }}
        run: |
          PATH="${GITHUB_WORKSPACE}/.local/bin:${PATH}"

          cd "${GITHUB_WORKSPACE}/${TOX_DIR}" || exit 1

          if [[ -d /opt/pyenv ]]; then
              echo "---> Setting up pyenv"
              export PYENV_ROOT="/opt/pyenv"
              export PATH="$PYENV_ROOT/bin:$PATH"
              PYTHONPATH="$(pwd)"
              export PYTHONPATH
              export TOX_TESTENV_PASSENV=PYTHONPATH
          fi
          #Useful debug
          tox --version

          PARALLEL=${{ env.PARALLEL }}
          TOX_OPTIONS_LIST=""
          if [[ -n ${{ env.TOX_ENVS }} ]]; then
              TOX_OPTIONS_LIST=${TOX_OPTIONS_LIST}" -e ${{ env.TOX_ENVS }}"
          fi;
          case ${PARALLEL,,} in
              true|auto )
                  TOX_OPTIONS_LIST=$TOX_OPTIONS_LIST" --parallel auto --parallel-live";;
              all )
                  TOX_OPTIONS_LIST=$TOX_OPTIONS_LIST" --parallel all --parallel-live";;
              [0-9]* )
                  TOX_OPTIONS_LIST=$TOX_OPTIONS_LIST" --parallel ${PARALLEL} --parallel-live";;
          esac

          # $TOX_OPTIONS_LIST are intentionnaly not surrounded by quotes
          # to correcly pass options to tox
          # shellcheck disable=SC2086
          tox $TOX_OPTIONS_LIST

          echo "---> Completed tox runs"
      - name: Running rtdv3
        if: ${{ env.READTHEDOCS_FOUND == 'true' }}
        run: |
          echo "---> Running rtdv3"
          set -euo pipefail

          # Creating lftools config file
          mkdir -p "${HOME}/.config/lftools"
          cat << EOF > "${HOME}/.config/lftools/lftools.ini"
          [rtd]
          endpoint=https://readthedocs.org/api/v3/
          token=${{ secrets.RTD_TOKEN }}
          EOF

          watchbuild(){
              echo "INFO: Running build against branch $1"
              local buildid
              local result
              buildid=$(lftools rtd project-build-trigger "$rtdproject" "$1" | jq '.build.id')

              result=null
              while [[ "$result" == null ]]; do
                  sleep 10
                  result=$(lftools rtd project-build-details "$rtdproject" "$buildid"  | jq '.success')
                  echo "INFO Current result of running build $result"
                  if [[ $result == failed ]]; then
                      echo "INFO: read the docs build completed with status: $result"
                      exit 1
                  fi
              done
              echo "INFO: read the docs build completed with status: $result"
          }
          project_original=${{ inputs.GERRIT_PROJECT }}
          project_dashed="${project_original////-}"
          umbrella=$(echo ${{ inputs.GERRIT_CHANGE_URL }} | awk -F'.' '{print $2}')
          rtdproject="$umbrella-$project_dashed"
          masterproject=${umbrella}-${{ env.MASTER_RTD_PROJECT }}
          #Exceptions needed for onap, due to importing their old docs.
          if [[ $masterproject == "onap-doc" ]]; then
              masterproject="onap"
          fi
          if [[ $rtdproject == "onap-doc" ]]; then
              rtdproject="onap"
          fi
          echo "INFO:"
          echo "INFO: Project: ${{ inputs.GERRIT_PROJECT }}"
          echo "INFO: Read the Docs Sub Project: https://$rtdproject.readthedocs.io"
          echo "INFO: Read the Docs Master Project: https://$masterproject.readthedocs.io"
          if [[ "$(lftools rtd project-details "$rtdproject" | yq -r '.detail')" == "Not found." ]]; then
              echo "INFO: Project not found, merge will create project https://$rtdproject.readthedocs.io"
          fi
          echo "INFO: Verify job completed"
